<h1>Hello, Rails!</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      # The link_to helper method is used to create a hyperlink to another page using the first argument as plaintext for the link and the second argument as the path to the page.
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
# Create a hyperlink to the new article page.
# adding this so I can add a new commit :)