<h1>Hello, Rails!</h1>

<ul>
  <% @articles.each do |article| %>
    # "<%" Executes the Ruby code within the brackets.
    <li>
      <%= article.title %>
      # "<%=" Evaluates the Ruby code within the brackets and inserts the result into the HTML document.
    </li>
  <% end %>
</ul>
